# Binaries for programs and plugins
cloudr
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.bin
/release/
assets.zip
dev

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development enviroment
.idea/*
uploads/*
temp

# Version control
version.lock

# Config file
*.ini
conf/conf.ini
/statik/
.vscode/

dist/





#### dependencies
assets/node_modules
assets/.pnp
assets/.pnp.js

# testing
assets/coverage

# production
assets/build

# misc
assets/.DS_Store
assets/.env.local
assets/.env.development.local
assets/.env.test.local
assets/.env.production.local

assets/npm-debug.log*
assets/yarn-debug.log*
assets/yarn-error.log*

assets/dist/

dist/
